id: Foundation - Enrichment
version: 17
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization
    packName: SOC Framework
    itemVersion: 2.1.19
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Enrichment
description: |
  Identifies the core fields present and starts tailored enrichment pipelines
  Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
tags:
- SOC
- SOC_Framework
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    type: start
    task:
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "22"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 930,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    type: title
    task:
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 930,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 921bdd5d-2fab-4996-8682-a5e6f80b9aca
    type: title
    task:
      id: 921bdd5d-2fab-4996-8682-a5e6f80b9aca
      version: -1
      name: Email Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: eae57768-ffc1-4bfd-9b69-0341c5e4de11
    type: condition
    task:
      id: eae57768-ffc1-4bfd-9b69-0341c5e4de11
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "4"
      Email:
      - "8"
      EndPoint:
      - "23"
      Identity:
      - "25"
      Network:
      - "26"
      SaaS:
      - "27"
      Workload:
      - "28"
    separatecontext: false
    conditions:
    - label: EndPoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SOCFramework.Product.category
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SOCFramework.Product.category
            iscontext: true
          right:
            value:
              simple: Email
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SOCFramework.Product.category
            iscontext: true
          right:
            value:
              simple: Identity
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SOCFramework.Product.category
            iscontext: true
          right:
            value:
              simple: Network
    - label: SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SOCFramework.Product.category
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: SOCFramework.Product.category
            iscontext: true
          right:
            value:
              simple: Workload
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 930,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 57f577ac-9e6a-4024-8a3b-ec37f26acb4c
    type: title
    task:
      id: 57f577ac-9e6a-4024-8a3b-ec37f26acb4c
      version: -1
      name: Endpoint Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 930,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: e0737213-e193-46f1-92f5-9c08d6613e7e
    type: playbook
    task:
      id: e0737213-e193-46f1-92f5-9c08d6613e7e
      version: -1
      name: Foundation - Endpoint Enrichment
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      playbookName: Foundation - Endpoint Enrichment
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      Domain:
        simple: ${issue.domain}
      EndpointID:
        simple: ${issue.agentid}
      HostName:
        simple: ${issue.hostname}
      MD5:
        simple: ${issue.initiatormd5}
      RemoteIP:
        simple: ${issue.remoteip}
      SHA256:
        simple: ${issue.initiatorsha256}
      SourceIP:
        simple: ${issue.hostip}
      UserName:
        simple: ${issue.username}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 930,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 57f44287-1e46-44a9-92d8-1b5b49866f25
    type: title
    task:
      id: 57f44287-1e46-44a9-92d8-1b5b49866f25
      version: -1
      name: Identity Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 6c299cfa-85fd-4ed6-b4d0-ef553bf02465
    type: title
    task:
      id: 6c299cfa-85fd-4ed6-b4d0-ef553bf02465
      version: -1
      name: Network
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 27b5ad01-dd78-442c-b2ac-f2632dfc5d77
    type: title
    task:
      id: 27b5ad01-dd78-442c-b2ac-f2632dfc5d77
      version: -1
      name: SaaS
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 69a4b4b0-f8a2-41a5-a727-ba69921f6e97
    type: title
    task:
      id: 69a4b4b0-f8a2-41a5-a727-ba69921f6e97
      version: -1
      name: Workload
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: dd52db61-e8cd-4e17-8469-75ac19de6331
    type: playbook
    task:
      id: dd52db61-e8cd-4e17-8469-75ac19de6331
      version: -1
      name: Foundation - Network Enrichment
      playbookName: Foundation - Network Enrichment
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 760,
        "width": 2550,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Source_IP
  value:
    simple: ${issue.remoteip}
  required: false
  description: ""
  playbookInputQuery: null
- key: File_Hash
  value:
    simple: ${issue.initiatorsha256}
  required: false
  description: ""
  playbookInputQuery: null
- key: Remote_IP
  value:
    simple: ${issue.remoteip}
  required: false
  description: ""
  playbookInputQuery: null
- key: UserName
  value:
    simple: ${issue.username}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - Source_IP
  - File_Hash
  - Remote_IP
  - UserName
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Foundation - Enrichment
dirtyInputs: true
adopted: true
