adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.1.13
    packID: ""
    packName: SOC Framework
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |
  Identifies the core fields present and starts tailored enrichment pipelines
  Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
dirtyInputs: true
id: 'Foundation - Enrichment'
inputSections:
- description: Generic group for inputs
  inputs: []
  name: General (Inputs group)
inputs: []
name: Foundation - Enrichment
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Foundation - Enrichment
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
      - "18"
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      iscommand: false
      name: ""
      playbooktaskmissingcomponent:
      version: -1
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1362,
          "y": 50
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: alert.sourceip
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ba15e72f-a381-4b97-8e51-7937092bfaf6
      iscommand: false
      name: Is Source IP Defined?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: ba15e72f-a381-4b97-8e51-7937092bfaf6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 976.25,
          "y": 710
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      iscommand: false
      name: Done
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1121.5,
          "y": 1560
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: alert.destinationip
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2eae8f2e-1cc9-4120-88e0-1e70e0be6069
      iscommand: false
      name: Is Destination IP Defined?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 2eae8f2e-1cc9-4120-88e0-1e70e0be6069
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 781,
          "y": 1050
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 921bdd5d-2fab-4996-8682-a5e6f80b9aca
      iscommand: false
      name: Email Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 921bdd5d-2fab-4996-8682-a5e6f80b9aca
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 391,
          "y": 550
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 02dc9df5-d1cf-4475-83a6-dc33e09fc4fe
      iscommand: false
      name: IP Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 02dc9df5-d1cf-4475-83a6-dc33e09fc4fe
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 976.25,
          "y": 550
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: errorPath
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "16"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        simple: ${alert.sourceip}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Provides data enrichment for ips.
      id: 98cf7f6d-4237-45d4-b120-8f3cf46a73d2
      iscommand: true
      name: Enrich Source IP
      playbooktaskmissingcomponent:
      script: '|||ip'
      type: regular
      version: -1
    taskid: 98cf7f6d-4237-45d4-b120-8f3cf46a73d2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1412,
          "y": 880
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: errorPath
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "16"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        simple: ${alert.destinationip}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Provides data enrichment for ips.
      id: f8b98182-0fae-49fb-b0f2-28b4194942a9
      iscommand: true
      name: Enrich Destination IP
      playbooktaskmissingcomponent:
      script: '|||ip'
      type: regular
      version: -1
    taskid: f8b98182-0fae-49fb-b0f2-28b4194942a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1021.5,
          "y": 1220
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 35dec624-d2e2-448e-a49c-62dc66589b2e
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 35dec624-d2e2-448e-a49c-62dc66589b2e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1412,
          "y": 1390
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7654576b-eded-482f-bec2-270055ebde0c
      iscommand: false
      name: User Enrichment
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 7654576b-eded-482f-bec2-270055ebde0c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1742,
          "y": 550
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1570,
        "width": 1731,
        "x": 391,
        "y": 50
      }
    }
  }
fromversion: 5.0.0
