fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.0.29
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |
  Identifies the core fields present and starts tailored enrichment pipelines
  Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
dirtyInputs: true
id: 'Foundation - Enrichment_V3'
inputSections:
- description: Generic group for inputs
  inputs:
  - CategoryType
  - ProductType
  name: General (Inputs group)
inputs:
- description: What Category of Alert is this? (malware, phishing, etc.)
  key: CategoryType
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: categoryname
      root: issue
      transformers:
      - operator: toLowerCase
- description: Product Type is configured in the list and extracted as the first task
    in the Upon Trigger. i.e. (endpoint, network, cloud workload, etc.)
  key: ProductType
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Product.category}
name: Foundation - Enrichment_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Foundation - Enrichment_V3
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 910,
          "y": -130
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 760
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 921bdd5d-2fab-4996-8682-a5e6f80b9aca
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Email Enrichment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 921bdd5d-2fab-4996-8682-a5e6f80b9aca
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 405
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductType
          operator: isEqualString
          right:
            value:
              simple: Endpoint
      label: EndPoint
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductType
          operator: isEqualString
          right:
            value:
              simple: Email
      label: Email
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductType
          operator: isEqualString
          right:
            value:
              simple: Identity
      label: Identity
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductType
          operator: isEqualString
          right:
            value:
              simple: Network
      label: Network
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductType
          operator: isEqualString
          right:
            value:
              simple: SaaS
      label: SaaS
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductType
          operator: isEqualString
          right:
            value:
              simple: Workload
      label: Workload
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      Email:
      - "8"
      EndPoint:
      - "23"
      Identity:
      - "25"
      Network:
      - "26"
      SaaS:
      - "27"
      Workload:
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4d41c7ce-cd87-4679-ab19-d4871ea1756e
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Product Category
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 4d41c7ce-cd87-4679-ab19-d4871ea1756e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 220
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 57f577ac-9e6a-4024-8a3b-ec37f26acb4c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Endpoint Enrichment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 57f577ac-9e6a-4024-8a3b-ec37f26acb4c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 405
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ${issue.domain}
      EndpointID:
        simple: ${issue.agentid}
      HostName:
        simple: ${issue.hostname}
      MD5:
        simple: ${issue.initiatormd5}
      PID:
        simple: ${issue.initiatorpid}
      ProcessName:
        simple: ${issue.xdmsourceprocessname}
      RemoteIP:
        simple: ${issue.remoteip}
      SHA256:
        simple: ${issue.initiatorsha256}
      SourceIP:
        simple: ${issue.hostip}
      UserName:
        simple: ${issue.username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      id: 301faca1-9a2b-499a-ae11-1cb8e6d45deb
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Endpoint Enrichment_V3
      playbookId: Foundation - Endpoint Enrichment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 301faca1-9a2b-499a-ae11-1cb8e6d45deb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 57f44287-1e46-44a9-92d8-1b5b49866f25
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Identity Enrichment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 57f44287-1e46-44a9-92d8-1b5b49866f25
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 405
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c299cfa-85fd-4ed6-b4d0-ef553bf02465
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Network
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 6c299cfa-85fd-4ed6-b4d0-ef553bf02465
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 405
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 27b5ad01-dd78-442c-b2ac-f2632dfc5d77
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SaaS
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 27b5ad01-dd78-442c-b2ac-f2632dfc5d77
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 405
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 69a4b4b0-f8a2-41a5-a727-ba69921f6e97
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Workload
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 69a4b4b0-f8a2-41a5-a727-ba69921f6e97
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 405
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ${issue.domain}
      EndpointID:
        simple: ${issue.agentid}
      HostName:
        simple: ${issue.hostname}
      MD5:
        simple: ${issue.initiatormd5}
      SHA256:
        simple: ${issue.initiatorsha256}
      SourceIP:
        simple: ${issue.hostip}
      UserName:
        simple: ${issue.username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      id: dc64009a-b51f-4e1d-8ade-4e23654d65ab
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Network Enrichment_V3
      playbookId: Foundation - Network Enrichment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: dc64009a-b51f-4e1d-8ade-4e23654d65ab
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ${issue.domain}
      Username:
        complex:
          accessor: username
          root: issue
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
        - Microsoft Graph User
        - SailPoint IdentityNow
        - SailPoint IdentityIQ
        - PingOne
        - Okta
        - AWS IAM
        - Cortex XDR (account enrichment and reputation)

        Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations). For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.
      id: 819fd7e9-5a7a-4550-b8b1-372dfb1c8712
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Account Enrichment - Generic v2.1_V3
      playbookId: SOC Account Enrichment - Generic v2.1_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 819fd7e9-5a7a-4550-b8b1-372dfb1c8712
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 575
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ${issue.domain}
      UseReputationCommand:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich email addresses.
        - Get information from Active Directory for internal addresses
        - Get the domain-squatting reputation for external addresses
        - Email address reputation using !email command.
      id: 97f001db-3e90-4e89-909b-4ddef8c133b0
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Email Address Enrichment - Generic v2.1_V3
      playbookId: SOC Email Address Enrichment - Generic v2.1_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 97f001db-3e90-4e89-909b-4ddef8c133b0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 575
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        simple: ${issue.domain}
      EndpointID:
        simple: ${issue.agentid}
      HostName:
        simple: ${issue.hostname}
      MD5:
        simple: ${issue.initiatormd5}
      PID:
        simple: ${issue.initiatorpid}
      SHA256:
        simple: ${issue.initiatorsha256}
      SourceIP:
        simple: ${issue.hostip}
      UserName:
        simple: ${issue.username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      id: 178700be-043d-4612-b445-2be7159585ee
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Endpoint Enrichment_V3
      playbookId: Foundation - Endpoint Enrichment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 178700be-043d-4612-b445-2be7159585ee
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 575
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SOCFramework.Artifacts.CategoryType
      value:
        complex:
          root: inputs.CategoryType
          transformers:
          - operator: toLowerCase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: d916b7b9-609f-482f-8e5a-00e951084f54
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Issue Category Type
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: d916b7b9-609f-482f-8e5a-00e951084f54
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 50
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 950,
        "width": 2530,
        "x": 50,
        "y": -130
      }
    }
  }
