fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.0.29
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |
  Core fields are evaluated
  Unpopulated core fields refer to alternatives for values
  Field values are evaluated for formatting and syntax
dirtyInputs: true
id: 'Foundation - Data Integrity_V3'
inputSections:
- description: Generic group for inputs
  inputs: []
  name: General (Inputs group)
inputs: []
name: Foundation - Data Integrity_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Foundation - Upon Trigger
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2eb08148-d069-489a-83e1-1ab88016aac3
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 2eb08148-d069-489a-83e1-1ab88016aac3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 930
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: This is a common playbook intended to integrate the Indicator Extraction
        to all automated alerts.
      id: d946d1a6-1e49-4f3f-bb84-cb106bab39dd
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation Common - Extract Indicators from alerts_V3
      playbookId: Foundation Common - Extract Indicators from alerts_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: d946d1a6-1e49-4f3f-bb84-cb106bab39dd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 745
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is this an EndPoint, Network, Cloud SaaS, Cloud Workload, Identity,
        etc?  This is used downstream for automations based on product category.
      id: 6c69403f-3987-4921-93b0-59b803e8ab06
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Product Category
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 6c69403f-3987-4921-93b0-59b803e8ab06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      ProductKey:
        complex:
          accessor: tags}
          root: ${issue
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: _
              toReplace:
                value:
                  simple: ':'
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: _
              toReplace:
                value:
                  simple: /
            operator: replace
          - operator: toLowerCase
      product:
        simple: Fusion
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Designed to get the product category (EndPoint, Network, Cloud
        SaaS, Cloud Workload, etc) from the list SOCProductCategoryMap_V3
      id: 75eb4055-6454-49ec-ad99-1be4a447a34f
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Product Classification_V3
      playbookId: Foundation - Product Classification_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 75eb4055-6454-49ec-ad99-1be4a447a34f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 390
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8951326c-3b3f-412d-94b0-da4f88c02844
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Artifact Extraction
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 8951326c-3b3f-412d-94b0-da4f88c02844
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 940,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
