id: Foundation - Endpoint Enrichment_V3
version: 19
contentitemexportablefields:
  contentitemfields:
    packID: ""
    _packName: SOC Framework Unified
    itemVersion: 2.1.19
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Endpoint Enrichment_V3
description: |
  Identifies the core fields present and starts tailored enrichment pipelines
  Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
tags:
- SOC
- SOC_Framework_Unified
- Enrichment
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    type: start
    task:
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
      - "18"
      - "19"
      - "22"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1042.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 887a6152-8190-438a-bb7f-aa55cb8aa1af
    type: condition
    task:
      id: 887a6152-8190-438a-bb7f-aa55cb8aa1af
      version: -1
      name: Is Source IP Defined?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: inputs.SourceIP
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    type: title
    task:
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 1290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 432e8616-dad1-44f1-9cc5-bb558490721d
    type: condition
    task:
      id: 432e8616-dad1-44f1-9cc5-bb558490721d
      version: -1
      name: Is Destination IP Defined?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: inputs.RemoteIP
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 02dc9df5-d1cf-4475-83a6-dc33e09fc4fe
    type: title
    task:
      id: 02dc9df5-d1cf-4475-83a6-dc33e09fc4fe
      version: -1
      name: IP Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 0afabf4a-0534-4793-ae26-b271fd53dc33
    type: regular
    task:
      id: 0afabf4a-0534-4793-ae26-b271fd53dc33
      version: -1
      name: Enrich Source IP
      description: Provides data enrichment for ips.
      script: '|||ip'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "16"
      '#none#':
      - "5"
    scriptarguments:
      ip:
        simple: ${inputs.SourceIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: b4d4bb3d-8081-4660-946d-040ab0a09217
    type: regular
    task:
      id: b4d4bb3d-8081-4660-946d-040ab0a09217
      version: -1
      name: Enrich Destination IP
      description: Provides data enrichment for ips.
      script: '|||ip'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "16"
      '#none#':
      - "4"
    scriptarguments:
      ip:
        simple: ${inputs.RemoteIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 35dec624-d2e2-448e-a49c-62dc66589b2e
    type: playbook
    task:
      id: 35dec624-d2e2-448e-a49c-62dc66589b2e
      version: -1
      name: Foundation - Error Handling_V3
      playbookName: Foundation - Error Handling_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 1110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 7654576b-eded-482f-bec2-270055ebde0c
    type: title
    task:
      id: 7654576b-eded-482f-bec2-270055ebde0c
      version: -1
      name: User Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "21"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 827.5,
          "y": 935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
    type: title
    task:
      id: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
      version: -1
      name: File Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 7864855e-b7d5-44c9-9c32-9f6f54c57368
    type: playbook
    task:
      id: 7864855e-b7d5-44c9-9c32-9f6f54c57368
      version: -1
      name: SOC Account Enrichment - Generic v2.1_V3
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
        - Microsoft Graph User
        - SailPoint IdentityNow
        - SailPoint IdentityIQ
        - PingOne
        - Okta
        - AWS IAM
        - Cortex XDR (account enrichment and reputation)

        Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations). For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.
      playbookName: SOC Account Enrichment - Generic v2.1_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      Domain:
        simple: ${inputs.Domain}
      Username:
        complex:
          root: inputs.UserName
          transformers:
          - operator: uniq
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 827.5,
          "y": 1110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 1e7de422-55dc-4dfd-b67f-d5c6a7d9570d
    type: title
    task:
      id: 1e7de422-55dc-4dfd-b67f-d5c6a7d9570d
      version: -1
      name: EndPoint Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: ea064f3b-6272-4c60-84ab-c69bbfaa264c
    type: playbook
    task:
      id: ea064f3b-6272-4c60-84ab-c69bbfaa264c
      version: -1
      name: SOC Endpoint Enrichment - Generic v2.1_V3
      playbookName: SOC Endpoint Enrichment - Generic v2.1_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      EndpointID:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      Hostname:
        complex:
          root: inputs.HostName
          transformers:
          - operator: uniq
      IPAddress:
        complex:
          root: inputs.SourceIP
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "False"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 1110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 8b75fd8d-2a9a-458e-9de3-2f9d50277c72
    type: playbook
    task:
      id: 8b75fd8d-2a9a-458e-9de3-2f9d50277c72
      version: -1
      name: SOC File Enrichment - File reputation
      playbookName: SOC File Enrichment - File reputation
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      MD5:
        simple: ${inputs.MD5}
      SHA1:
        complex:
          root: File
          accessor: SHA1
      SHA256:
        simple: ${inputs.SHA256}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 1110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1300,
        "width": 2017.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: SourceIP
  value:
    simple: ${issue.hostip}
  required: false
  description: ""
  playbookInputQuery:
- key: RemoteIP
  value:
    simple: ${issue.remoteip}
  required: false
  description: ""
  playbookInputQuery:
- key: UserName
  value:
    simple: ${issue.username}
  required: false
  description: ""
  playbookInputQuery:
- key: EndpointID
  value:
    simple: ${issue.agentid}
  required: false
  description: ""
  playbookInputQuery:
- key: HostName
  value:
    simple: ${issue.hostname}
  required: false
  description: ""
  playbookInputQuery:
- key: Domain
  value:
    simple: ${issue.domain}
  required: false
  description: ""
  playbookInputQuery:
- key: MD5
  value:
    simple: ${issue.initiatormd5}
  required: false
  description: ""
  playbookInputQuery:
- key: SHA256
  value:
    simple: ${issue.initiatorsha256}
  required: false
  description: ""
  playbookInputQuery:
inputSections:
- inputs:
  - SourceIP
  - RemoteIP
  - UserName
  - EndpointID
  - HostName
  - Domain
  - MD5
  - SHA256
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Foundation - Enrichment_V3
dirtyInputs: true
adopted: true
fromversion: 5.0.0
