fromversion: 5.0.0
id: Foundation - Endpoint Enrichment_V3
version: 43
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.0.30
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Endpoint Enrichment_V3
description: |
  Identifies the core fields present and starts tailored enrichment pipelines
  Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
tags:
- SOC
- SOC_Framework_Unified
- Enrichment
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    type: start
    task:
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
      - "18"
      - "22"
      - "19"
      - "34"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 930,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 492f9a4d-166a-498e-9c6e-dfb786911560
    type: condition
    task:
      id: 492f9a4d-166a-498e-9c6e-dfb786911560
      version: -1
      name: Is Source IP Defined?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: inputs.SourceIP
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    type: title
    task:
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 715,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 7dba9f04-0e82-4fdd-9185-3ca038f978e6
    type: condition
    task:
      id: 7dba9f04-0e82-4fdd-9185-3ca038f978e6
      version: -1
      name: Is Destination IP Defined?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: inputs.RemoteIP
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 02dc9df5-d1cf-4475-83a6-dc33e09fc4fe
    type: title
    task:
      id: 02dc9df5-d1cf-4475-83a6-dc33e09fc4fe
      version: -1
      name: IP Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 7402ac5c-de53-492c-a7fa-ec826ef30adf
    type: regular
    task:
      id: 7402ac5c-de53-492c-a7fa-ec826ef30adf
      version: -1
      name: Enrich Source IP
      description: Provides data enrichment for ips.
      script: '|||ip'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "16"
      '#none#':
      - "5"
    scriptarguments:
      ip:
        simple: ${inputs.SourceIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: ef34ca76-959d-4677-aaf2-bd88f9cfc4e6
    type: regular
    task:
      id: ef34ca76-959d-4677-aaf2-bd88f9cfc4e6
      version: -1
      name: Enrich Destination IP
      description: Provides data enrichment for ips.
      script: '|||ip'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "16"
      '#none#':
      - "4"
    scriptarguments:
      ip:
        simple: ${inputs.RemoteIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 35dec624-d2e2-448e-a49c-62dc66589b2e
    type: playbook
    task:
      id: 35dec624-d2e2-448e-a49c-62dc66589b2e
      version: -1
      name: Foundation - Error Handling_V3
      playbookName: Foundation - Error Handling_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 7654576b-eded-482f-bec2-270055ebde0c
    type: title
    task:
      id: 7654576b-eded-482f-bec2-270055ebde0c
      version: -1
      name: User Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "27"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 952.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
    type: title
    task:
      id: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
      version: -1
      name: File Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "25"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 952.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 1e7de422-55dc-4dfd-b67f-d5c6a7d9570d
    type: title
    task:
      id: 1e7de422-55dc-4dfd-b67f-d5c6a7d9570d
      version: -1
      name: EndPoint Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 930,
          "y": 952.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 1191bbbd-a098-4503-9af2-d44af45477e7
    type: playbook
    task:
      id: 1191bbbd-a098-4503-9af2-d44af45477e7
      version: -1
      name: SOC File Enrichment - File reputation_V3
      description: Get file reputation using one or more integrations
      playbookName: SOC File Enrichment - File reputation_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      MD5:
        simple: ${inputs.MD5}
      SHA1:
        simple: ${inputs.SHA1}
      SHA256:
        simple: ${inputs.SHA256}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 7a660f68-880d-408d-9d36-b6c05eb14776
    type: playbook
    task:
      id: 7a660f68-880d-408d-9d36-b6c05eb14776
      version: -1
      name: SOC Endpoint Enrichment - Generic v2.1_V3
      description: |-
        Enrich an endpoint by hostname using one or more integrations.
        Supported integrations:
        - Active Directory Query v2
        - McAfee ePO v2
        - VMware Carbon Black EDR v2
        - Cylance Protect v2
        - CrowdStrike Falcon
        - ExtraHop Reveal(x)
        - Cortex XDR / Core (endpoint enrichment, reputation and risk)
        - Endpoint reputation using !endpoint command.
      playbookName: SOC Endpoint Enrichment - Generic v2.1_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      EndpointID:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      Hostname:
        complex:
          root: inputs.HostName
          transformers:
          - operator: uniq
      IPAddress:
        complex:
          root: inputs.SourceIP
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "False"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 7a727f50-0c00-4d67-a958-da0fc9ea4627
    type: playbook
    task:
      id: 7a727f50-0c00-4d67-a958-da0fc9ea4627
      version: -1
      name: SOC Account Enrichment - Generic v2.1_V3
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
        - Microsoft Graph User
        - SailPoint IdentityNow
        - SailPoint IdentityIQ
        - PingOne
        - Okta
        - AWS IAM
        - Cortex XDR (account enrichment and reputation)

        Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations). For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.
      playbookName: SOC Account Enrichment - Generic v2.1_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      Domain:
        simple: ${inputs.Domain}
      Username:
        complex:
          root: inputs.UserName
          transformers:
          - operator: uniq
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: c990cbe2-c1cd-45fe-b3d9-e138e446e074
    type: title
    task:
      id: c990cbe2-c1cd-45fe-b3d9-e138e446e074
      version: -1
      name: Process Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 705,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1325,
        "width": 2120,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: SourceIP
  value:
    simple: ${issue.hostip}
  required: false
  description: ""
  playbookInputQuery: null
- key: RemoteIP
  value:
    simple: ${issue.remoteip}
  required: false
  description: ""
  playbookInputQuery: null
- key: UserName
  value:
    simple: ${issue.username}
  required: false
  description: ""
  playbookInputQuery: null
- key: EndpointID
  value:
    simple: ${issue.agentid}
  required: false
  description: ""
  playbookInputQuery: null
- key: HostName
  value:
    simple: ${issue.hostname}
  required: false
  description: ""
  playbookInputQuery: null
- key: Domain
  value:
    simple: ${issue.domain}
  required: false
  description: ""
  playbookInputQuery: null
- key: MD5
  value:
    simple: ${issue.initiatormd5}
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    simple: ${issue.initiatorsha256}
  required: false
  description: ""
  playbookInputQuery: null
- key: PID
  value:
    simple: ${issue.initiatorpid}
  required: false
  description: ""
  playbookInputQuery: null
- key: ProcessName
  value:
    simple: ${issue.xdmsourceprocessname}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - SourceIP
  - RemoteIP
  - UserName
  - EndpointID
  - HostName
  - Domain
  - MD5
  - SHA256
  - PID
  - ProcessName
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - SOCFramework.Artifacts.IP
  - SOCFramework.Artifacts.EndPointID
  - SOCFramework.Artifacts.UserName
  - SOCFramework.Artifacts.ProcessName
  - SOCFramework.Artifacts.File
  - SOCFramework.Artifacts.Verdict
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: SOCFramework.Artifacts.IP
  type: unknown
- contextPath: SOCFramework.Artifacts.EndPointID
  type: unknown
- contextPath: SOCFramework.Artifacts.UserName
  type: unknown
- contextPath: SOCFramework.Artifacts.ProcessName
  type: unknown
- contextPath: SOCFramework.Artifacts.File
  type: unknown
- contextPath: SOCFramework.Artifacts.Verdict
  type: unknown
dirtyInputs: true
adopted: true
