fromversion: 5.0.0
id: Foundation - Upon Trigger V3
version: 9
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.0.30
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.0.29
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
dirtyInputs: true
id: 'Foundation - Upon Trigger V3'
inputSections:
- description: Generic group for inputs
  inputs: []
  name: General (Inputs group)
inputs: []
name: Foundation - Upon Trigger V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
quiet: true
sourceplaybookid: Foundation - Upon Trigger
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5206068f-fdf3-4829-8cc2-c3ada7b5516b
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 5206068f-fdf3-4829-8cc2-c3ada7b5516b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cd6cbd33-49b9-4c0e-8c76-12c43c541cb5
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Environment Detection
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: cd6cbd33-49b9-4c0e-8c76-12c43c541cb5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eaffbc30-3533-483b-80c1-82bdd0e73dd3
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Data Integrity
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: eaffbc30-3533-483b-80c1-82bdd0e73dd3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2b3a538a-4c64-408a-86b2-74cd81484c7f
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Alert Sync (Ledger / Owner Notification)
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 2b3a538a-4c64-408a-86b2-74cd81484c7f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 930
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4bc7c9d9-c8d2-4e49-8f24-1e964e9ad270
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Dedup
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 4bc7c9d9-c8d2-4e49-8f24-1e964e9ad270
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1995
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a4730ca6-80a0-4fb3-80d3-9a2e6e1f964c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Enrichment (User, IP, Hash, Domain)
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: a4730ca6-80a0-4fb3-80d3-9a2e6e1f964c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1640
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 35c54f0f-e1e7-48a9-8aed-57d322ddf9c7
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Assessment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 35c54f0f-e1e7-48a9-8aed-57d322ddf9c7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2350
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 76dd4bf8-4839-4846-8cc2-95492ce2721a
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Escalation
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 76dd4bf8-4839-4846-8cc2-95492ce2721a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2705
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6a23a94-520a-4ff6-8146-c309f064e6ed
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: d6a23a94-520a-4ff6-8146-c309f064e6ed
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3415
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    taskid: db2b5b40-227a-43f3-a1ed-34278b0f6f76
    type: playbook
    task:
      id: db2b5b40-227a-43f3-a1ed-34278b0f6f76
      version: -1
      name: Foundation - Enrichment_V3
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      playbookName: Foundation - Enrichment_V3
      type: playbook
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      CategoryType:
        complex:
          root: issue
          accessor: categoryname
          transformers:
          - operator: toLowerCase
      Remote_IP:
        simple: ${inputs.Remote_IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      id: db2b5b40-227a-43f3-a1ed-34278b0f6f76
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Enrichment_V3
      playbookId: Foundation - Enrichment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: db2b5b40-227a-43f3-a1ed-34278b0f6f76
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1810
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    taskid: a81da524-2eec-4b17-b2d7-fc33a1a6002c
    type: playbook
    task:
      id: a81da524-2eec-4b17-b2d7-fc33a1a6002c
      version: -1
      name: Foundation - Environment Detection_V3
      description: |
        Identify Non-Production Use Cases
        Keeps downstream playbooks from performing ‘hazardous tasks’
      playbookName: Foundation - Environment Detection_V3
      type: playbook
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Identify Non-Production Use Cases
        Keeps downstream playbooks from performing ‘hazardous tasks’
      id: a81da524-2eec-4b17-b2d7-fc33a1a6002c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Environment Detection_V3
      playbookId: Foundation - Environment Detection_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: a81da524-2eec-4b17-b2d7-fc33a1a6002c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 390
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    taskid: f611e5ee-70fb-4913-8ee3-dc6fe456527c
    type: playbook
    task:
      id: f611e5ee-70fb-4913-8ee3-dc6fe456527c
      version: -1
      name: Foundation - Data Integrity_V3
      description: |
        Core fields are evaluated
        Unpopulated core fields refer to alternatives for values
        Field values are evaluated for formatting and syntax
      id: f611e5ee-70fb-4913-8ee3-dc6fe456527c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Data Integrity_V3
      playbookId: Foundation - Data Integrity_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: f611e5ee-70fb-4913-8ee3-dc6fe456527c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 745
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |+
        Evaluates our enrichment flags, and severity value(s) to formalize a final severity score
        Creates human readable summary of severity assessment reasoning

      id: 0b8ac779-46fc-4fd0-81f7-b353236b24c3
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Assessment_V3
      playbookId: Foundation - Assessment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 0b8ac779-46fc-4fd0-81f7-b353236b24c3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2520
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        Handles dispatching pagerduty alert / SOC email
        Identifies if another alert within the alert already paged
      id: 11861ffc-38b6-4bda-8a82-4657bd1ceeff
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Escalation_V3
      playbookId: Foundation - Escalation_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 11861ffc-38b6-4bda-8a82-4657bd1ceeff
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2875
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |+
        Generates/Updates the Case Alert Ledger
        Notifies alert owner of new issue addition

      id: f21ef304-0199-4462-b3f9-2a67cb579af3
      iscommand: false
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "36"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1100
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 53a0a8d4-f046-4bf1-bd2e-d86e6e5b5cea
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Performance Capture
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 53a0a8d4-f046-4bf1-bd2e-d86e6e5b5cea
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3060
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 75031272-0824-439f-8219-be2a80c0186e
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Performance Capture_V3
      playbookId: Foundation - Performance Capture_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 75031272-0824-439f-8219-be2a80c0186e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3230
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 1d4e4498-5b23-4b7f-89ba-646cd8f33034
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Foundation - Dedup_V3
      playbookId: Foundation - Dedup_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 1d4e4498-5b23-4b7f-89ba-646cd8f33034
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2165
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: e54011dd-2a92-45fb-b1ab-15d8f422ae5e
    type: title
    task:
      id: e54011dd-2a92-45fb-b1ab-15d8f422ae5e
      version: -1
      name: Normalize
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1285
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 12dcb2df-c8af-476a-8d4c-34e5cbb505fb
    type: playbook
    task:
      id: 12dcb2df-c8af-476a-8d4c-34e5cbb505fb
      version: -1
      name: Foundation - Normalize Artifacts
      playbookId: c9737d64-6fc5-486a-88f2-ce98ab2b9815
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1455
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3425,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Foundation - Upon Trigger
quiet: true
dirtyInputs: true
adopted: true
