fromversion: 5.0.0
id: SOC EndPoint Spread Evaluation_V3
version: 44
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: SOC Framework Unified
    itemVersion: 3.0.30
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC EndPoint Spread Evaluation_V3
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "52"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 321770e1-d16e-4324-b6ba-de8b83325812
    type: title
    task:
      id: 321770e1-d16e-4324-b6ba-de8b83325812
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
    type: title
    task:
      id: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
      version: -1
      name: Evaluate Spread Level
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "58"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: f5b51ee9-10a8-461a-80ae-af2be60caf71
    type: condition
    task:
      id: f5b51ee9-10a8-461a-80ae-af2be60caf71
      version: -1
      name: Limited Spread Event?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "17"
      Limited Entity:
      - "55"
      Single Entity:
      - "56"
    separatecontext: false
    conditions:
    - label: Limited Entity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.hash_prevalence_count
            iscontext: true
          right:
            value:
              simple: inputs.limited_hash_count_per_case
            iscontext: true
    - label: Single Entity
      condition:
      - - operator: lessThanOrEqual
          left:
            value:
              simple: inputs.hash_prevalence_count
            iscontext: true
          right:
            value:
              simple: "1"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: 781c3559-96da-4bac-80ed-502452ac0ac0
    type: regular
    task:
      id: 781c3559-96da-4bac-80ed-502452ac0ac0
      version: -1
      name: Set Multi-Entity Spread
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.spread_level
      value:
        simple: multi_entity
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: 6c14234c-2a6f-4029-9b3a-77510ec34f09
    type: regular
    task:
      id: 6c14234c-2a6f-4029-9b3a-77510ec34f09
      version: -1
      name: Set Limited-Entity Spread
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.spread_level
      value:
        simple: limited_entity
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 8715cbf0-1e8f-47cd-ae0a-cbfd6968ef83
    type: regular
    task:
      id: 8715cbf0-1e8f-47cd-ae0a-cbfd6968ef83
      version: -1
      name: Set Single-Entity Spread
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.spread_level
      value:
        simple: single_entity
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: e7194a9b-91d0-4264-ae11-80f8eb14eade
    type: condition
    task:
      id: e7194a9b-91d0-4264-ae11-80f8eb14eade
      version: -1
      name: Multi Spread Event?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "53"
      Multi Entity Spread:
      - "54"
    separatecontext: false
    conditions:
    - label: Multi Entity Spread
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: inputs.case_host_count
            iscontext: true
          right:
            value:
              simple: inputs.high_host_count_per_case
            iscontext: true
        - operator: isEqualString
          left:
            value:
              simple: inputs.hash_prevalence_count
            iscontext: true
          right:
            value:
              simple: inputs.high_hash_count_per_case
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: a7a7faa2-1fec-4608-a931-41df1ffc7fd9
    type: regular
    task:
      id: a7a7faa2-1fec-4608-a931-41df1ffc7fd9
      version: -1
      name: Get Hash Prevalence
      description: Get the prevalence of a file, identified by sha256.
      script: '|||core-get-hash-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "59"
    scriptarguments:
      sha256:
        simple: ${inputs.SHA256}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: c1500353-bd5f-4957-b8d6-03bd7463af92
    type: regular
    task:
      id: c1500353-bd5f-4957-b8d6-03bd7463af92
      version: -1
      name: Set Hash Global Prevalence
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      key:
        simple: Investigation.findings.hash_prevalence_count
      value:
        simple: ${Core.AnalyticsPrevalence.Hash.data.global_prevalence.value}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1325,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: high_host_count_per_case
  value:
    simple: "3"
  required: false
  description: ""
  playbookInputQuery: null
- key: high_hash_count_per_case
  value:
    simple: "3"
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    simple: ${SOCFramework.Artifacts.File}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_host_count
  value:
    simple: ${Investigation.findings.host_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: limited_host_count_per_case
  value:
    simple: "2"
  required: false
  description: ""
  playbookInputQuery: null
- key: limited_hash_count_per_case
  value:
    simple: "2"
  required: false
  description: ""
  playbookInputQuery: null
- key: limited_user_count_per_case
  value:
    simple: "2"
  required: false
  description: ""
  playbookInputQuery: null
- key: case_user_count
  value:
    simple: ${Investigation.findings.user_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_tactics
  value:
    simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - high_host_count_per_case
  - high_hash_count_per_case
  - SHA256
  - case_host_count
  - limited_host_count_per_case
  - limited_hash_count_per_case
  - limited_user_count_per_case
  - case_user_count
  - case_tactics
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Investigation.findings.spread_level
  - Investigation.findings.hash_prevalence_count
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Investigation.findings.spread_level
  description: What is the Level Of Spread?
  type: string
- contextPath: Investigation.findings.hash_prevalence_count
  type: unknown
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: true
adopted: true
