id: SOC Email Analysis
version: 2
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization
    packName: SOC Framework
    itemVersion: 2.1.19
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Email Analysis
description: |-
  This is the analyst’s core domain.

  Key tasks:

  Investigate alerts and anomalies.

  Validate true/false positives.

  Perform triage, correlation, and root cause analysis.

  Classify the alert (category, severity, impact).

  Document findings and escalate confirmed alerts.

  Outcome: Determine whether an event is a legitimate alert and assess its scope.

  This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.
tags:
- SOC
- SOC_Framework
- Detection & Analysis
- NIST 800-61
- Email Security
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 7e6a701e-667b-4a70-8a74-14564da75fc7
    type: start
    task:
      id: 7e6a701e-667b-4a70-8a74-14564da75fc7
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 7fad044e-60c9-4baa-8bb6-316d5aea8cfa
    type: playbook
    task:
      id: 7fad044e-60c9-4baa-8bb6-316d5aea8cfa
      version: -1
      name: Foundation - Error Handling
      playbookName: Foundation - Error Handling
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 740,
          "y": 290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
    type: title
    task:
      id: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 430,
          "y": 470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 480,
        "width": 690,
        "x": 430,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: SOC Data Analysis
adopted: true
fromversion: 5.0.0
