id: 57fa5657-e48d-444e-88e1-aae2d61fe6ab
version: 23
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: SOC Framework Unified
    itemVersion: 3.0.30
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Initialize Investigation Context_V3
description: Clean up the data context and prepare to perform the investigation.
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 7e6a701e-667b-4a70-8a74-14564da75fc7
    type: start
    task:
      id: 7e6a701e-667b-4a70-8a74-14564da75fc7
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "59"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
    type: title
    task:
      id: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: f3b5ab33-1507-4366-8af0-148333ec3b05
    type: title
    task:
      id: f3b5ab33-1507-4366-8af0-148333ec3b05
      version: -1
      name: Preparation
      description: Clean Out Keys for the Investigation and Analysis
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: 9a17b4a8-d92e-4a4d-8c38-0b7ae0c4fec5
    type: regular
    task:
      id: 9a17b4a8-d92e-4a4d-8c38-0b7ae0c4fec5
      version: -1
      name: Clean Out Investigation and Analysis
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex XSOAR 6
        see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: ${inputs.reset_keys}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: afa3e542-5d82-43d5-b60e-8996db4e3613
    type: regular
    task:
      id: afa3e542-5d82-43d5-b60e-8996db4e3613
      version: -1
      name: Set Investigation Host Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      key:
        simple: Investigation.findings.host_count
      value:
        complex:
          root: inputs.case_host_count
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "0"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: 0087c50d-d9d3-4e6d-ae85-bde48c122d1f
    type: regular
    task:
      id: 0087c50d-d9d3-4e6d-ae85-bde48c122d1f
      version: -1
      name: Set Issue Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "63"
    scriptarguments:
      key:
        simple: Investigation.findings.issue_count
      value:
        complex:
          root: inputs.case_issue_count
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "0"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: 8e226db5-e54d-4292-8a0e-dd8492ddeaa0
    type: regular
    task:
      id: 8e226db5-e54d-4292-8a0e-dd8492ddeaa0
      version: -1
      name: Set Case Risk Score
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      key:
        simple: Investigation.findings.case_score
      value:
        complex:
          root: inputs.case_score
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "0"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: 8c637a4c-cf08-472f-bc51-f5a6a2f8d854
    type: regular
    task:
      id: 8c637a4c-cf08-472f-bc51-f5a6a2f8d854
      version: -1
      name: Set Investigation User Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      key:
        simple: Investigation.findings.user_count
      value:
        complex:
          root: inputs.case_user_count
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "0"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 9e9a6d0f-3769-42cb-a870-ebcab1c190ac
    type: regular
    task:
      id: 9e9a6d0f-3769-42cb-a870-ebcab1c190ac
      version: -1
      name: Delete Parent Context
      description: commands.local.cmd.del.parent.incident.context
      script: Builtin|||deleteParentIncidentContext
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      key:
        simple: ${inputs.reset_case_keys}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1510,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: reset_issue_keys
  value:
    simple: Investigation
  required: false
  description: ""
  playbookInputQuery: null
- key: case_host_count
  value:
    simple: ${parentIncidentFields.host_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_score
  value:
    simple: ${parentIncidentFields.predicted_score}
  required: false
  description: What Risk Score Does AI give to case that issue belongs?
  playbookInputQuery: null
- key: case_issue_count
  value:
    simple: ${parentIncidentFields.alert_count}
  required: false
  description: How many other alerts are in this case?
  playbookInputQuery: null
- key: case_user_count
  value:
    simple: ${parentIncidentFields.user_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: reset_case_keys
  value:
    simple: Analysis
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - reset_issue_keys
  - case_host_count
  - case_score
  - case_issue_count
  - case_user_count
  - reset_case_keys
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Investigation.findings.case_score
  - Investigation.findings.host_count
  - Investigation.findings.user_count
  - Investigation.findings.issue_count
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Investigation.findings.case_score
  description: Risk Score for Case
  type: unknown
- contextPath: Investigation.findings.host_count
  description: Host Count in Case
  type: unknown
- contextPath: Investigation.findings.user_count
  type: unknown
- contextPath: Investigation.findings.issue_count
  type: unknown
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: true
adopted: true
