fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.0.30
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
dirtyInputs: true
id: 'SOC EndPoint Spread Evaluation_V3'
inputSections:
- description: Generic group for inputs
  inputs:
  - high_host_count_per_case
  - high_hash_count_per_case
  - hash_prevalence_count
  - SHA256
  - case_host_count
  - limited_host_count_per_case
  - limited_hash_count_per_case
  - limited_user_count_per_case
  - case_user_count
  - case_tactics
  name: General (Inputs group)
inputs:
- description: ""
  key: high_host_count_per_case
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: ""
  key: high_hash_count_per_case
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: ""
  key: hash_prevalence_count
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Hash
      root: Core.AnalyticsPrevalence
      transformers:
      - args:
          equalTo:
            iscontext: true
            value:
              simple: issue.initiatorsha256.[0]
          field:
            value:
              simple: sha256
          getField: {}
          stringify: {}
        operator: WhereFieldEquals
      - args:
          field:
            value:
              simple: data
        operator: getField
      - args:
          field:
            value:
              simple: global_prevalence
        operator: getField
      - args:
          field:
            value:
              simple: value
        operator: getField
- description: ""
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Artifacts.File}
- description: ""
  key: case_host_count
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.host_count}
- description: ""
  key: limited_host_count_per_case
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: ""
  key: limited_hash_count_per_case
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: ""
  key: limited_user_count_per_case
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: ""
  key: case_user_count
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.user_count}
- description: ""
  key: case_tactics
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
name: SOC EndPoint Spread Evaluation_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - Investigation.findings.spread_level
outputs:
- contextPath: Investigation.findings.spread_level
  description: What is the Level Of Spread?
  type: string
sourceplaybookid: SOC Data Analysis_V3
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 50
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 321770e1-d16e-4324-b6ba-de8b83325812
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 321770e1-d16e-4324-b6ba-de8b83325812
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 950
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Evaluate Spread Level
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 220
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.hash_prevalence_count
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: inputs.limited_hash_count_per_case
      label: Limited Entity
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.hash_prevalence_count
          operator: lessThanOrEqual
          right:
            value:
              simple: "1"
      label: Single Entity
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      Limited Entity:
      - "55"
      Single Entity:
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5b51ee9-10a8-461a-80ae-af2be60caf71
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Limited Spread Event?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: f5b51ee9-10a8-461a-80ae-af2be60caf71
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.spread_level
      value:
        simple: multi_entity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 781c3559-96da-4bac-80ed-502452ac0ac0
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Multi-Entity Spread
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 781c3559-96da-4bac-80ed-502452ac0ac0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 760
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.spread_level
      value:
        simple: limited_entity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 6c14234c-2a6f-4029-9b3a-77510ec34f09
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Limited-Entity Spread
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 6c14234c-2a6f-4029-9b3a-77510ec34f09
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 760
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.spread_level
      value:
        simple: single_entity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 8715cbf0-1e8f-47cd-ae0a-cbfd6968ef83
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Single-Entity Spread
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8715cbf0-1e8f-47cd-ae0a-cbfd6968ef83
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 760
        }
      }
  "57":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.case_host_count
          operator: greaterThanOrEqual
          right:
            iscontext: true
            value:
              simple: inputs.high_host_count_per_case
        - left:
            iscontext: true
            value:
              simple: inputs.hash_prevalence_count
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: inputs.high_hash_count_per_case
      label: Multi Entity Spread
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "53"
      Multi Entity Spread:
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b60db67-5c65-4442-9982-e54198e3f104
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Multi Spread Event?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 0b60db67-5c65-4442-9982-e54198e3f104
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 960,
        "width": 1690,
        "x": 50,
        "y": 50
      }
    }
  }
