id: d0f0cc7a-29d9-478f-867d-eccf2433e067
version: 12
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: SOC Framework Unified
    itemVersion: 3.0.30
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Endpoint Signal Characterization_V3
description: "Purpose\nDetermine what type of endpoint behavior this is.\nThis is
  not attack vector.\nThis is behavioral class.\nCurrent Tasks:\n\nDefine Attack Vector\nIs
  Malware? \nIs Injection / Shellcode? \nDoes CGO CMD Exist? \nSet Endpoint Path "
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: dfb1f62b-258e-4e82-8f1c-b14f17ea13e4
    type: title
    task:
      id: dfb1f62b-258e-4e82-8f1c-b14f17ea13e4
      version: -1
      name: Define Attack Vector
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 58525173-8940-4cae-8796-3af3458bf7d5
    type: condition
    task:
      id: 58525173-8940-4cae-8796-3af3458bf7d5
      version: -1
      name: Is Malware?
      description: |-
        This captures:
        WildFire Malware
        Malware Activity
        Known Malicious File
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "5"
      Malware:
      - "8"
    separatecontext: false
    conditions:
    - label: Malware
      condition:
      - - operator: containsString
          left:
            value:
              complex:
                root: inputs.case_name
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malware
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.case_name
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: wildfire
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.case_name
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 503051b3-d89e-4d5c-9cdc-057518241481
    type: condition
    task:
      id: 503051b3-d89e-4d5c-9cdc-057518241481
      version: -1
      name: Is Injection / Shellcode / Exploit Behavior?
      description: |-
        This matches:
        Process Injection
        In-process shellcode Protection
        Exploit-based detections
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "10"
      Behavioral:
      - "9"
    separatecontext: false
    conditions:
    - label: Behavioral
      condition:
      - - operator: containsString
          left:
            value:
              complex:
                root: inputs.case_name
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: injection
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.case_name
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: shellcode
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.case_name
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: exploit
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 0c3c3767-5423-4648-837a-2857fffb8f14
    type: title
    task:
      id: 0c3c3767-5423-4648-837a-2857fffb8f14
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 90251b08-df0e-4500-a4b4-ed12c43af066
    type: regular
    task:
      id: 90251b08-df0e-4500-a4b4-ed12c43af066
      version: -1
      name: Set Endpoint Path file_malware
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.signal_type
      value:
        simple: file_malware
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 4905a04f-649e-4919-86fd-72eeb6f0ed39
    type: regular
    task:
      id: 4905a04f-649e-4919-86fd-72eeb6f0ed39
      version: -1
      name: Set Endpoint Path behavior_memory
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.signal_type
      value:
        simple: behavior_memory
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 2515f02b-331a-4450-ab16-14148c327068
    type: condition
    task:
      id: 2515f02b-331a-4450-ab16-14148c327068
      version: -1
      name: Does CGO CMD Exists?
      description: |-
        This captures:
        Suspicious PowerShell
        LOLBin misuse
        Encoded commands
        Script abuse
        PsExec, WMI, etc.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "6"
      Process Execution:
      - "11"
    separatecontext: false
    conditions:
    - label: Process Execution
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.cgo_name
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: fd88680e-db16-4666-9582-ab616eb2fa77
    type: regular
    task:
      id: fd88680e-db16-4666-9582-ab616eb2fa77
      version: -1
      name: Set Endpoint Path process_execution
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.signal_type
      value:
        simple: process_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1140,
        "width": 1352.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: case_name
  value:
    complex:
      root: issue
      accessor: name
      transformers:
      - operator: toLowerCase
  required: false
  description: ""
  playbookInputQuery: null
- key: cgo_name
  value:
    simple: ${issue.cgocmd}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - case_name
  - cgo_name
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Investigation.findings.signal_type
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Investigation.findings.signal_type
  description: What type of Endpoint Signal is this (i.e. malware, process, behavioral)?
  type: string
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: true
adopted: true
