fromversion: 5.0.0
id: SOC Endpoint Enrichment - Cylance Protect v2_V3
version: 3
contentitemexportablefields:
  contentitemfields:
    packID: soc-common-playbooks-unified
    packName: SOC Common Playbooks Unified
    itemVersion: 2.7.52
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Endpoint Enrichment - Cylance Protect v2_V3
description: Enriches endpoints using the Cylance Protect v2 integration.
tags:
- SOC
- SOC_Framework
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 1635626d-e92f-49c7-85a7-b4d1632d1e38
    type: start
    task:
      id: 1635626d-e92f-49c7-85a7-b4d1632d1e38
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 50264655-eac1-4439-809b-32f93a19c825
    type: condition
    task:
      id: 50264655-eac1-4439-809b-32f93a19c825
      version: -1
      name: Is Cylance Protect v2 enabled?
      description: Checks if there is an active instance of the Cylance Protect v2
        integration enabled.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: brand
                      iscontext: true
                    right:
                      value:
                        simple: Cylance Protect v2
                - - operator: isEqualString
                    left:
                      value:
                        simple: state
                      iscontext: true
                    right:
                      value:
                        simple: active
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 528d8f5d-cf61-4bc1-b4cc-75887b25ea8d
    type: regular
    task:
      id: 528d8f5d-cf61-4bc1-b4cc-75887b25ea8d
      version: -1
      name: Get all Cylance Protect devices
      description: Gets information about all devices that are available in Cylance
        Protect.
      script: Cylance Protect v2|||cylance-protect-get-devices
      type: regular
      iscommand: true
      brand: Cylance Protect v2
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "8"
      '#none#':
      - "4"
    reputationcalc: 1
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: ec7a9e06-60d0-4c25-8ed4-1cb9d0fe92f6
    type: regular
    task:
      id: ec7a9e06-60d0-4c25-8ed4-1cb9d0fe92f6
      version: -1
      name: Set enriched device details
      description: Sets the device that was enriched in another context key. That
        key will contain only the device that was enriched using the provided hostname,
        and will be the output of the playbook.
      scriptName: Set
      type: regular
      iscommand: false
      brand: Cylance Protect v2
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      key:
        simple: CylanceProtectDevice
      value:
        complex:
          root: CylanceProtectAllDevices
          filters:
          - - operator: in
              left:
                value:
                  simple: CylanceProtectAllDevices.Hostname
                iscontext: true
              right:
                value:
                  simple: inputs.Hostname
                iscontext: true
          - - operator: isNotEmpty
              left:
                value:
                  simple: CylanceProtectAllDevices
                iscontext: true
          transformers:
          - operator: uniq
    reputationcalc: 1
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 83e2be36-d5ef-43df-80b3-c77e95e19780
    type: regular
    task:
      id: 83e2be36-d5ef-43df-80b3-c77e95e19780
      version: -1
      name: Set device list
      description: Sets the devices in another context key - "CylanceProtectAllDevices".
        Setting them under that key ensures proper filtering in the next tasks.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      key:
        simple: CylanceProtectAllDevices
      value:
        complex:
          root: CylanceProtect
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: CylanceProtect.Device
                iscontext: true
          accessor: Device
          transformers:
          - operator: uniq
    reputationcalc: 1
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 8a61ee6d-786a-4ec3-8f9e-fe49f90c1930
    type: condition
    task:
      id: 8a61ee6d-786a-4ec3-8f9e-fe49f90c1930
      version: -1
      name: Was a device found?
      description: Checks whether any of the hostnames for enrichment were enriched
        using Cylance Protect v2.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: CylanceProtectAllDevices
                filters:
                - - operator: in
                    left:
                      value:
                        simple: CylanceProtectAllDevices.Hostname
                      iscontext: true
                    right:
                      value:
                        simple: inputs.Hostname
                      iscontext: true
                transformers:
                - operator: uniq
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 3849ea50-af6b-4ce4-8c43-c76f660fa7f6
    type: title
    task:
      id: 3849ea50-af6b-4ce4-8c43-c76f660fa7f6
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 92f8e328-1b28-4371-8d9d-4c75974fae23
    type: playbook
    task:
      id: 92f8e328-1b28-4371-8d9d-4c75974fae23
      version: -1
      name: Foundation - Error Handling_V3
      playbookName: Foundation - Error Handling_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 927.5,
          "y": 1062.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "1_2_yes": 0.57,
      "1_6_#default#": 0.34,
      "5_3_yes": 0.54
    },
    "paper": {
      "dimensions": {
        "height": 1087.5,
        "width": 857.5,
        "x": 450,
        "y": 50
      }
    }
  }
inputs:
- key: Hostname
  value:
    complex:
      root: inputs.Hostname
      transformers:
      - operator: uniq
  required: false
  description: The hostname to enrich.
  playbookInputQuery: null
inputSections:
- inputs:
  - Hostname
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - CylanceProtectDevice
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: CylanceProtectDevice
  description: The device information about the hostname that was enriched.
  type: unknown
sourceplaybookid: Endpoint Enrichment - Cylance Protect v2
dirtyInputs: true
adopted: true
